@font-face {
	font-family: 'OrbitronBlack';
	src: local('OrbitronBlack'), url(./fonts/Orbitron-Black.ttf) format('truetype');
}

.App {
  text-align: center;
}

.Navbar-custom {
	background-color: black;
	height: 120px;
}

.Nav-item p{
	font-size: 14px;
	font-weight: 400;
	color: white;
	padding: 6px 15px;
	border-radius: 20px;
}

.Nav-item:hover p {
	color: rgb(0, 0, 0);
	background-color: white;
	animation: Nav-item-hover 0.5s linear;
}

.Nav-item-active p {
	color: rgb(0, 0, 0);
	background-color: white;
}

.Jumbotron {
  background-color: #000000;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#jumbotron-background {
	width: 100%;
	height: 100%;
	background-image: url(./main_background.png);
	background-attachment: fixed;
	background-size: 80%;
	background-position: center;
	background-position-y: 150px;
	background-repeat: no-repeat;
	animation: Main-background-dissolve 5s linear;
}

.Jumbotron h2 {
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	animation: Jumbotron-caption 3s linear;  
}

.Jumbotron span {
	font-weight: 300;
	font-size: 18px;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Arrow_for_more{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Arrow_for_more span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.Arrow_for_more span:nth-child(2)
{
	animation-delay: -0.2s;
}

.Arrow_for_more span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.App-link {
  color: #61dafb;
}

@keyframes Main-background-dissolve {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes Nav-item-hover {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

@keyframes Jumbotron-caption {
  0% {
		opacity: 0;
		left: 73%;
  }
  50% {
		opacity: 0;
		left: 73%;  
  }
  100% {
		opacity: 1;
		left: 70%;
  }
}

@keyframes Jumbotron-caption-mobile {
  0% {
		opacity: 0;
		left: 40%;
  }
  50% {
		opacity: 0;
		left: 40%;  
  }
  100% {
		opacity: 1;
		left: 50%;
  }
}

/* About Me */
.About-me {
	height: 750px;
	width: auto;
	padding-top: 80px;
}

.About-me .About-me-title {
	font-size: 70px;
	margin-left: -800px;
}

.About-me .About-me-title2 {
	font-size: 70px;
	margin-left: -580px;
}

.About-me .About-me-content {
	margin-left: 180px;
	text-align: justify;
	color: rgb(58, 58, 122);
}

.About-me-content {
	width: 550px;
}

.About-me-background {
	margin-top: -260px;
	width: 600px;
	height: auto;
	margin-left: 580px;
}

/* Expertise */
.Expertise {
	height: 1400px;
	width: auto;
}

.Expertise-content {
	margin-left: 60px;
	margin-right: 60px;
}

.Expertise-title {
	font-size: 60px;
	padding-top: 150px;
	text-align: left;
	font-family: "OrbitronBlack";
}

.Expertise-item {
	margin-top: 150px;
	position: absolute;
	background-color: rgb(26, 26, 26);
	width: 30%;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Expertise-item-new-row {
	margin-top: 620px;
	position: absolute;
	background-color: rgb(26, 26, 26);
	width: 30%;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 1000px) {
	.Expertise-item-mobile {
		display: none;
	}

	.About-me-mobile {
		display: none;
	}
}

/* My Project */
.Expertise-to-my-project {
	height: 320px;
	background-image: linear-gradient(to bottom, black, rgb(255, 255, 255));
}

.My-project {
	height: 120px;
	background-color: rgb(255, 255, 255);
	padding-left: 60px;
	padding-right: 60px;
}

.My-project-title {
	margin-left: 100px;
	font-size: 50px;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
}

.My-project hr {
	border-top: 2px solid rgb(0, 0, 0);
}

.My-project-control {
	color: white;
	display: flex;
	justify-content: space-between;
}

.carousel {
	margin-bottom: 100px;
}

.carousel-img {
	margin-left: 160px; 
	margin-right: 160px; 
	margin-top: 20px;
	width: 75%;
}

.carousel-control-prev-icon {
	background-color: #000000;
  padding: 10px;
}

.carousel-control-next-icon {
	background-color: #000000;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
	/* navbar */
	.Navbar-custom {
		height: 100px;
		width: 100%;
	}

	/* jumbotron */
	#jumbotron-background {
		width: 100%;
		background-size: 100%;
		background-position-y: 220px;
	}
	
	.Jumbotron h2 {
		position: absolute;
		top: 62%;
		left: 50%;
		font-size: 18px;
		animation: Jumbotron-caption-mobile 3s linear;  
	}

	/* aboout me */
	.About-me {
		display: none;
	}

	.About-me-mobile {
		margin-top: 40px;
	}

	.About-me-title-mobile, .About-me-title2-mobile{
		font-size: 30px;
	}

	.About-me-content-mobile {
		font-size: 16px;
		padding: 10px 40px 40px 40px;
	}

	/* my expertise */
	.Expertise {
		height: 750px;
		width: auto;
	}

	.Expertise-content {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.Expertise-title {
		font-size: 40px;
		padding-top: 60px;
		text-align: left;
		font-family: "OrbitronBlack";
	}
	
	.Expertise-item, .Expertise-item-new-row {
		display: none;
	}

	.Expertise-item-mobile h4 {
		font-size: 30px;
		border-style: solid;
		border-width: 2px;
		border-color: white;
		border-radius: 20px;
		padding: 15px;
		margin: 10px;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	/* My Project */
	.Expertise-to-my-project {
		height: 90px;
		background-image: linear-gradient(to bottom, black, rgb(255, 255, 255));
	}
	
	.My-project {
		height: 100px;
		background-color: rgb(255, 255, 255);
		padding-left: 40px;
	}
	
	.My-project-title {
		margin-left: 0px;
		font-size: 40px;
		font-style: italic;
		display: flex;
		justify-content: space-between;
		font-weight: 600;
	}
	
	.My-project hr {
		display: none;
	}
	
	.My-project-control {
		color: white;
		display: flex;
		justify-content: space-between;
	}
	
	.carousel {
		margin-bottom: 20px;
	}
	
	.carousel-img {
		margin-left: 0px; 
		margin-right: 0px; 
		margin-top: 60px;
		width: 75%;
		margin-bottom: 50px;
	}
	
	.carousel-control-prev-icon {
		background-color: #000000;
		padding: 10px;
	}
	
	.carousel-control-next-icon {
		background-color: #000000;
		padding: 10px;
	}

}

/* footer */
.footer {
	margin-top: 80px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.footer a {
	color: rgb(26, 26, 26);
	margin-left: 10px;
	text-decoration: none;
}

.footer-contact {
	margin-left: 10px;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
}